.artists {
	grid-template-rows: repeat(2, 1fr);
	grid-auto-flow: row;

	&__list {
		&:not(:last-child) {
			margin-bottom: 182px;
		}
	}

	&-item {

		&--1 {
			grid-column: span 3;

			@include mobile {
				grid-column: span 1;
			}
		}

		&--2 {
			grid-column: span 5;

			@include mobile {
				grid-column: span 1;
			}
		}
		
		&--3 {
			grid-row: span 2;

			@include mobile {
				grid-column: span 1;
			}
		}
		
		&--3,
		&--4,
		&--5 {
			grid-column: span 4;

			@include mobile {
				grid-column: span 1;
			}
		}
	}
}