.artwork {
	width: 60%;
	height: auto;
	margin-inline: auto;
	border: 3px solid var(--color-purple);
	box-shadow: 0 0 35px 1px var(--color-purple);
	border-radius: var(--border-radius);
	transform: scaleX(-1);
}
