.section {
	padding-block: var(--section-padding-y);

	@include mobile {
		padding-block: calc(var(--section-padding-y) / 2);
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 30px;

		&:not(:last-child) {
			margin-bottom: 64px;

			@include mobile {
				margin-bottom: 32px;
			}
		}
	}
}